.header, .background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a3584+0,aa175a+100 */
  background: #1a3584; /* Old browsers */
  background-image: url('../images/noise.png'), -moz-linear-gradient(left, #1a3584 0%, #aa175a 100%); /* FF3.6-15 */
  background-image: url('../images/noise.png'), -webkit-linear-gradient(left, #1a3584 0%,#aa175a 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: url('../images/noise.png'), linear-gradient(to right, #1a3584 0%,#aa175a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a3584', endColorstr='#aa175a',GradientType=1 ); /* IE6-9 */
  width: 100%;
  height: 100vh;
  position: relative;
}

.test {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: relative;
  img {
    width: 200px;
  }
}

.background {
  position: absolute;
  width: 170px;
  height: 170px;
  margin: auto;
  border-radius: 100px;
  -webkit-animation:spin 3s linear infinite;
   -moz-animation:spin 3s linear infinite;
   animation:spin 3s linear infinite;
   z-index: -1;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
